.logo {
  margin-left: 40%;
  margin-top: -85px;
  position: absolute;
}

body {
  background-color: black;
}

.gang {
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

p {
  color: white;
  margin-left: 20px;
  margin-right: 600px;
  line-height: 20px;
  float: left;
  position: absolute;
}

.tommy {
  width: 525px;
  float: right;
  position: relative;
}

h2 {
  text-align: left;
  color: white;
}

button {
  position: relative;
  left: auto;
  bottom: auto;
  margin-top: 75px;
  margin-left: 75px;
  background-color: grey;
  padding: 32px 16px;
  font-size: 24px;
  border-radius: 22px;
  border: 2px solid burlywood;
  display: flex;
}

button:hover {
  background-color: burlywood;
  cursor: pointer;
}

button:active {
  transform: translate3d(2px, 10px, 0px);
  cursor: progress;
}

.fTree {
  left: auto;
  position: relative;
  width: 2136.5px;
  height: 934.75px;
}
